<div class="main-container">
  <div class="header">
    <div class="headingWrap">
      <b> MY RESUME</b>
    </div>
    <div class="introductionWrapHeader">
      Hi, I AM<span style="color: red;"> ANKUSH BANSAL </span>
      <div class="introDetailsWrap">
        Angular Developer || Full Stack Developer || Node JS Developer
      </div>
    </div>

  </div>

</div>
<div class="informationWrap">
  <div class="aboutMe">
    <div class="container">
      <div class="aboutHeaderWrap">
        <div class="aboutHeaderHeadWrap">
          About Me
        </div>
      </div>
      <div class="aboutBodyPart">
        <div class="aboutInformationWrap">
          I am Ankush Bansal from Narwana and I am Pursing my B-Tech from Seth Jai Parkash Mukand 
          Lal Institute of Technology . I have completed my Internship of Angular Developer .<br><br>
          I love to see whatever I develop by using my logics and code . I am passionate 
          about my coding because I think it shows my skills. I wish , one day I could develop
           something new for which I could feel proud.
           I have also a sufficient knowledge of Node js , python (Django ) and Mongo DB. 
           Traveling is my best hobby. I think traveling makes me energies and enthosiastic. 
           It helps me to learn diaversity in life and places. Usally traveling provides me 
           opportunity to talk with new minds.Music is capable to bring me in another world. 
           It is also capable to make me isolate when I stuck in unfavourable surrounding.
            Music has its own language which can be feel by heart when I connect with it.
          
        </div>
        <div class="aboutPhotographWrap">
          <img src="../assets/myImage.jpg" alt="Ankush Bansal AB">
        </div>
      </div>
      <div class="aboutHeaderWrap">
        <div class="aboutHeaderHeadWrap">
          Skills
        </div>

        <div class="skillsWrap">
          <div class="card boxWrapSkills">
            <div class="skillsImageWrap">
              <img src="../assets/angular-logo.png" alt="Angular logo by Ankush">
            </div>
            <div class="skillNameWrap">
              <div class="nameFieldSkillsWrap">
                Angular
              </div>
            </div>
          </div>

          <div class="card boxWrapSkills">
            <div class="skillsImageWrap">
              <img src="../assets/nodes.webp" alt="Angular logo by Ankush">
            </div>
            <div class="skillNameWrap">
              <div class="nameFieldSkillsWrap">
                Node JS
              </div>
            </div>
          </div>

          <div class="card boxWrapSkills">
            <div class="skillsImageWrap">
              <img src="../assets/HTML5.png" alt="Angular logo by Ankush">
            </div>
            <div class="skillNameWrap">
              <div class="nameFieldSkillsWrap">
                HTML 5
              </div>
            </div>
          </div>

          <div class="card boxWrapSkills">
            <div class="skillsImageWrap">
              <img src="../assets/css.png" alt="Angular logo by Ankush">
            </div>
            <div class="skillNameWrap">
              <div class="nameFieldSkillsWrap">
                CSS
              </div>
            </div>
          </div>

          <div class="card boxWrapSkills">
            <div class="skillsImageWrap">
              <img src="../assets/Bootstrap.png" alt="Angular logo by Ankush">
            </div>
            <div class="skillNameWrap">
              <div class="nameFieldSkillsWrap">
                BootStrap
              </div>
            </div>
          </div>

          <div class="card boxWrapSkills">
            <div class="skillsImageWrap">
              <img src="../assets/python.png" alt="Angular logo by Ankush">
            </div>
            <div class="skillNameWrap">
              <div class="nameFieldSkillsWrap">
                Python (Django)
              </div>
            </div>
          </div>

          <div class="card boxWrapSkills">
            <div class="skillsImageWrap">
              <img src="../assets/mongo.png" alt="Angular logo by Ankush">
            </div>
            <div class="skillNameWrap">
              <div class="nameFieldSkillsWrap">
                Mongo DB
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="aboutHeaderWrap">
          <div class="aboutHeaderHeadWrap">
          MY  HOBBY
          </div>
          <div class="skillsWrap">
            <div class="hobbyDivWrap webDesign">
             
            </div>
            <div class="hobbyDivWrap travelDesign">
                Travelling
              </div>
              <div class="hobbyDivWrap musicDesign">
                  Music
                </div>
                <div class="hobbyDivWrap photoDesign">
                    Photography
                  </div>
          </div>
      </div>

      <div class="aboutHeaderWrap">
        <div class="aboutHeaderHeadWrap">
          EDUCATION
        </div>
        <div class="skillsWrap">
          <div class="card circleWrapEducation">
            <div class="classWrap">
              10th
            </div>
            <div class="instituteName">
              Maharishi Dayanand Public School
            </div>
            <div class="yearOfInstitute">
              2014-2015
            </div>
          </div>

          <div class="card circleWrapEducation" style=" border: 3px solid blue">
            <div class="classWrap">
              12th
            </div>
            <div class="instituteName">
              Sanatan Dharam Public School
            </div>
            <div class="yearOfInstitute">
              2016-2017
            </div>
          </div>

          <div class="card circleWrapEducation">
            <div class="classWrap">
              Btech
            </div>
            <div class="instituteName">
              Seth Jai Parkash Mukand Lal Institute of Technology
            </div>
            <div class="yearOfInstitute">
              2017-2021
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
        <div class="aboutHeaderWrap" style="background-color: #01253b;color:white">
            <div class="aboutHeaderHeadWrap">
              Contact us
            </div>
            <div class="container">
            <div class="contactInformationWrap">
              <div class="detailContactWrap">
                <div class="imageContactWrap">
                  <img src="../assets/user.png" alt="user image">
                </div>
                <div class="dataContactWrap">
                  Ankush Bansal
                </div>
              </div>

              <div class="detailContactWrap">
                  <div class="imageContactWrap">
                    <img src="../assets/whatsapp.png" alt="user image">
                  </div>
                  <div class="dataContactWrap">
                    8295581106
                  </div>
                </div>

                <div class="detailContactWrap">
                    <div class="imageContactWrap">
                      <img src="../assets/instagram.png" alt="user image">
                    </div>
                    <div class="dataContactWrap">
                      Ankush Bansal AB
                    </div>
                  </div>

                  <div class="detailContactWrap">
                      <div class="imageContactWrap">
                        <img src="../assets/linkedin.png" alt="user image">
                      </div>
                      <div class="dataContactWrap">
                        Ankush Bansal
                      </div>
                    </div>

                    <div class="detailContactWrap">
                        <div class="imageContactWrap">
                          <img src="../assets/twitter.png" alt="user image">
                        </div>
                        <div class="dataContactWrap">
                          Ankush Bansal
                        </div>
                      </div>
                      <div class="detailContactWrap">
                          <div class="imageContactWrap">
                            <img src="../assets/mail.png" alt="user image">
                          </div>
                          <div class="dataContactWrap">
                            ankushbansal2211@gmail.com
                          </div>
                        </div>
            </div>
            <div class="footerImageWrap">
              <div class="imageWrapFooter">
                <img src="../assets/ankush.jpg" alt="Ankush Bansal AB">
              </div>
            </div>
          </div>
          </div>
    </div>
  </div>

</div>